.Timer {
  padding: 0px 15px;
  text-align: center;

  &--time {
    font-size: 30px;
    margin: 20px;
    span {
      font-size: 20px;
    }
  }

  &--moves {
    margin: 20px;
    display: inline-block;
    font-size: 30px;
  }
}
