.Trivia {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #fff;
  margin-top: 40px;

  &--Container {
    img {
      position: absolute;
      height: 120px;
      top: 10px;
      left: 10px;
    }

    &--number {
      color: #fff;
      margin: 20px;
      font-size: 18px;
    }

    &--question {
      color: #fff;
      margin: 20px;
      font-size: 24px;
    }

    &--answer {
      cursor: pointer;
      margin: 20px;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
