.ReactModal {
  &__Overlay {
    width: 1020px;
    max-height: 350px;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: #000;
    overflow: auto;
    border-radius: 4px;
    text-align: center;
  }

  &__Content {
    &--Categories {
      margin: 20px;

      &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        label,
        img {
          margin: 10px;
        }

        img {
          height: 50px;
        }

        label {
          color: #fff;
          font-size: 24px;
        }
      }

      button {
        cursor: pointer;
        max-width: 45%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        font-size: 18px;
        margin: 10px;
      }
    }

    &--Play {
      p {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        margin: 10px;
      }

      button {
        cursor: pointer;
        margin: 10px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 700;
      }

      img {
        height: 170px;
        display: block;
        margin: 10px auto;
      }
    }

    &:focus {
      outline: none;
    }
  }
}
